{% extends 'base.html.twig' %}
{% import "components/_macros.html.twig" as components %}

{% block title %}Articles - {{ parent() }}{% endblock %}

{% block header %}
    <div class="flex items-center justify-between">
        <h1 class="{{ theme('headerTitle') }}">Articles</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="space-y-6">
        {% for post in posts %}
            {{ components.post_card(post) }}
        {% else %}
            <div class="{{ theme('container') }} p-6">
                <p class="{{ theme('date') }} text-center">
                    Aucun article disponible.
                </p>
            </div>
        {% endfor %}
    </div>

    {% if lastPage > 1 %}
        {% include 'components/_pagination.html.twig' with {
            currentPage: currentPage,
            lastPage: lastPage
        } %}
    {% endif %}
{% endblock %}
