{% extends 'base.html.twig' %}

{% block title %}{{ path }} - {{ parent() }}{% endblock %}

{% block header %}<h1 class="{{ theme('headerTitle') }}">{{ path | capitalize }}</h1>{% endblock %}

{% block body %}
    <article class="{{ theme('container') }} p-6">
        <div class="{{ theme('content') }}">
            {{ content|raw }}
        </div>
    </article>
{% endblock %}
